html {
  font-size: 18px;
  font-family: helvetica;
  line-height: 1.4;
  margin: 0;
}

/*Header styles*/

header {
  background-color: cadetblue;
  color: white;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  /*position: relative;
  top: 1rem;*/
}

.logo {
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.mobile-nav {
  display: none;
}

nav {
  padding-right: 1rem;
}

nav span {
  margin: 1rem;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

/*Banner styles*/

.banner {
  padding-top: 1rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  height: 30rem;
}

.promo-text {
  display: flex;
  justify-content: flex-end;
  max-width: 960px;
  margin: 10rem auto 0 auto;
  position: relative;
  left: 2rem;
}

.promo-text span {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: white;
  padding: 1.5rem 5rem;
}

/*Features styles*/

.features {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.feature-container {
  width: 5rem;
  margin: 0 3rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.feature-container span {
  text-align: center;
  line-height: 1.4rem;
}

.feature01 .feature-image {
  width: 3.5rem;
}

.feature02 .feature-image, .feature03 .feature-image {
  width: 5rem;
}

.feature-image {
}

.feature-image img {
  width: 100%;
}

/*About styles*/
.about {
  max-width: 960px;
  margin: 0 auto 5rem auto;
  display: flex;
  justify-content: center;
}

.about-item {
  width: 35%;
  margin: 0 2.5%;
}

.about-item h1 {
  width: 10rem;
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.about-item p {
  line-height: 1.4;
}

/*Footer styles*/
footer {
  max-width: 960px;
  margin: 0 auto;
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}

/*Responsive tablet*/

@media only screen and (max-width: 960px) {
  header, .banner, .promo-text, .features, .about, footer {
    width: 100%;
  }
  .banner {
    padding-top: 0;
    height: 22rem;
  }
  .promo-text {
    position: static;
    left: 0;
    margin: 5rem auto 0 auto;
  }

  .promo-text span {
    margin-right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 638px) {
  .logo span {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  nav {
    display: none;
  }

  .banner {
    padding-top: 0;
    height: 17rem;
    background-position: 20%;
  }

  .promo-text {
    margin: 9rem auto 0 auto;
  }

  .promo-text span {
    padding: 1rem 0;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  .features {
    flex-direction: column;
    align-items: center;
    padding: 3.77rem 0;
  }

  .feature02, .feature03 {
    margin-top: 1.54rem;
  }

  .feature-container span {
    font-size: 0.77rem;
  }

  .about {
    flex-direction: column;
    margin: 0 auto;
  }

  .about-item {
    width: 100%;
    margin: 0;
  }

  .about h1 {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  .about p {
    margin-left: 0.5rem;
    font-size: 0.77rem;
    margin-bottom: 4rem;
  }

  footer {
    justify-content: center;
  }

  footer img {
    margin: 4rem 1rem;
  }

  footer span {
    display: none;
  }
}
